<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- CSS ... -->
    <link rel="stylesheet" href="default.css">

    <title>Favorite Java Stack</title>
  </head>
  <body>
    <div class="container">
      <h1>My Favorite Java Stack is:</h1>

      <form action="{formurl}/favstackxformx" method="POST" name="favstackForm" >
        <p>
          <select id="stacks" name="stackname">
            <option value="">-- Please Select --</option>
            <option value="quarkus">Quarkus</option>
            <option value="micronaut">Micronaut</option>
            <option value="spring">Spring (Native)</option>
            <option value="microprofile">Microprofile</option>
            <option value="jakarta">Jakarta EE</option>
            <option value="other">Other</option>
          </select>
          <input type="submit" />
        </p>
      </form>
    </div>
  </body>
</html>